body{
    background-color: antiquewhite;
    color: crimson;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    display: grid;
}

.comment{
    margin-top: 50px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 60px;
}
footer{
    position: fixed; 
    padding: 0px 10px 10px 10px; 
    bottom: 0; 
    width: 100%; 
    
    /* Height of the footer*/  
    height: 40px; 
    background: darkred; 
    color: antiquewhite;
}
#navbar{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
}

#foot{
    display: grid;
    grid-template-columns: 3fr 1fr 3fr;
}

#footerLeft{
    text-align: left;
    grid-column: 0;
}

#footerRight{
    margin-right: 25px;
    text-align: right;
    grid-column: 3;
}
#classyBorder{
    
    width: 50%;

}

