
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Johan Jakberger CV</title>
    <link rel="stylesheet" href="/src/css/stylesheet.css">

<nav>
    <div class="header">
        <div class="navChoice">
            <a href="/index.html">HOME</a>
        </div>
        <div class="navChoice">
            <a href="/pages/about.html">ABOUT ME</a>
        </div>
        <div class="navChoice">
            <a href="/pages/projects.html">PROJECTS</a>
        </div>
        <div class="navChoice">
            <a href="/pages/contact.html">CONTACT</a>
        </div>
    </div>
    <img src="/src/images/classy_border.png" alt="" id="classyBorder">
</nav>